MovieNetWpfApp/Connected Services/UserServiceRef/UserServiceWCF.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="UserServiceWCF" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:64823/UserServiceWCF.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:64823/UserServiceWCF.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:64823/UserServiceWCF.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/MovieNetWcfService" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IUserServiceWCF_GetUsers_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUsers" />
  </wsdl:message>
  <wsdl:message name="IUserServiceWCF_GetUsers_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUsersResponse" />
  </wsdl:message>
  <wsdl:message name="IUserServiceWCF_GetUsersFind_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUsersFind" />
  </wsdl:message>
  <wsdl:message name="IUserServiceWCF_GetUsersFind_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUsersFindResponse" />
  </wsdl:message>
  <wsdl:message name="IUserServiceWCF_CreateUser_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateUser" />
  </wsdl:message>
  <wsdl:message name="IUserServiceWCF_CreateUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateUserResponse" />
  </wsdl:message>
  <wsdl:message name="IUserServiceWCF_DeleteUser_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteUser" />
  </wsdl:message>
  <wsdl:message name="IUserServiceWCF_DeleteUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteUserResponse" />
  </wsdl:message>
  <wsdl:message name="IUserServiceWCF_UpdateUser_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateUser" />
  </wsdl:message>
  <wsdl:message name="IUserServiceWCF_UpdateUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateUserResponse" />
  </wsdl:message>
  <wsdl:message name="IUserServiceWCF_LoginUser_InputMessage">
    <wsdl:part name="parameters" element="tns:LoginUser" />
  </wsdl:message>
  <wsdl:message name="IUserServiceWCF_LoginUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:LoginUserResponse" />
  </wsdl:message>
  <wsdl:message name="IUserServiceWCF_GetUsersFindByLogin_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUsersFindByLogin" />
  </wsdl:message>
  <wsdl:message name="IUserServiceWCF_GetUsersFindByLogin_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUsersFindByLoginResponse" />
  </wsdl:message>
  <wsdl:portType name="IUserServiceWCF">
    <wsdl:operation name="GetUsers">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserServiceWCF/GetUsers" message="tns:IUserServiceWCF_GetUsers_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserServiceWCF/GetUsersResponse" message="tns:IUserServiceWCF_GetUsers_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUsersFind">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserServiceWCF/GetUsersFind" message="tns:IUserServiceWCF_GetUsersFind_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserServiceWCF/GetUsersFindResponse" message="tns:IUserServiceWCF_GetUsersFind_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserServiceWCF/CreateUser" message="tns:IUserServiceWCF_CreateUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserServiceWCF/CreateUserResponse" message="tns:IUserServiceWCF_CreateUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserServiceWCF/DeleteUser" message="tns:IUserServiceWCF_DeleteUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserServiceWCF/DeleteUserResponse" message="tns:IUserServiceWCF_DeleteUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserServiceWCF/UpdateUser" message="tns:IUserServiceWCF_UpdateUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserServiceWCF/UpdateUserResponse" message="tns:IUserServiceWCF_UpdateUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="LoginUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserServiceWCF/LoginUser" message="tns:IUserServiceWCF_LoginUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserServiceWCF/LoginUserResponse" message="tns:IUserServiceWCF_LoginUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUsersFindByLogin">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserServiceWCF/GetUsersFindByLogin" message="tns:IUserServiceWCF_GetUsersFindByLogin_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserServiceWCF/GetUsersFindByLoginResponse" message="tns:IUserServiceWCF_GetUsersFindByLogin_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IUserServiceWCF" type="tns:IUserServiceWCF">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetUsers">
      <soap:operation soapAction="http://tempuri.org/IUserServiceWCF/GetUsers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUsersFind">
      <soap:operation soapAction="http://tempuri.org/IUserServiceWCF/GetUsersFind" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateUser">
      <soap:operation soapAction="http://tempuri.org/IUserServiceWCF/CreateUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteUser">
      <soap:operation soapAction="http://tempuri.org/IUserServiceWCF/DeleteUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateUser">
      <soap:operation soapAction="http://tempuri.org/IUserServiceWCF/UpdateUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LoginUser">
      <soap:operation soapAction="http://tempuri.org/IUserServiceWCF/LoginUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUsersFindByLogin">
      <soap:operation soapAction="http://tempuri.org/IUserServiceWCF/GetUsersFindByLogin" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="UserServiceWCF">
    <wsdl:port name="BasicHttpBinding_IUserServiceWCF" binding="tns:BasicHttpBinding_IUserServiceWCF">
      <soap:address location="http://localhost:64823/UserServiceWCF.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>