MovieNetWpfApp/Connected Services/MovieServiceRef/MovieServiceWCF2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/MovieNetWcfService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/MovieNetWcfService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfMovie">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Movie" nillable="true" type="tns:Movie" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMovie" nillable="true" type="tns:ArrayOfMovie" />
  <xs:complexType name="Movie">
    <xs:sequence>
      <xs:element minOccurs="0" name="DurationGetSet" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="GenreGetSet" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IdGetSet" type="xs:int" />
      <xs:element minOccurs="0" name="ImageGetSet" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NoteSet_idGetSet" type="xs:int" />
      <xs:element minOccurs="0" name="SummaryGetSet" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TitleGetSet" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserSet_idGetSet" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Movie" nillable="true" type="tns:Movie" />
</xs:schema>