MovieNetWpfApp/Connected Services/NoteServiceRef/NoteServiceWCF.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/MovieNetWcfService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/MovieNetWcfService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Note">
    <xs:sequence>
      <xs:element minOccurs="0" name="CommentGetSet" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IdGetSet" type="xs:int" />
      <xs:element minOccurs="0" name="Movie_idGetSet" type="xs:int" />
      <xs:element minOccurs="0" name="ScoreGetSet" type="xs:int" />
      <xs:element minOccurs="0" name="User_idGetSet" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Note" nillable="true" type="tns:Note" />
  <xs:complexType name="ArrayOfNote">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Note" nillable="true" type="tns:Note" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfNote" nillable="true" type="tns:ArrayOfNote" />
</xs:schema>